/*-----------------------------------//
// responsive stylesheet.
//-----------------------------------*/


@media screen and (max-width: 1200px){
	h1 {
		@include font-size(5.5);
	}
}

@media screen and (max-width: 1100px){
	h1 {
		@include font-size(5);
	}
}

@media screen and (max-width: 1000px){
	html {
		font-size: 9px;
	}
	pre {
		line-height: 1;
	}
}

@media screen and (max-width: 700px){
	html {
		font-size: 9px;
	}
	h1 {
		@include font-size(4);
	}
	img.aside {
		max-width:60%;
	}
}

@media screen and (max-width: 570px){
	html {
		font-size: 7px;
	}
	h1 {
		@include font-size(3);
		padding: 1em 0.6em;
	}
	h2 {
		@include font-size(3);
	}
	h3 {
		@include font-size(2);
	}
	h4 {
		@include font-size(1.8);
	}
	p {
		line-height: 1.5;
	}
	article p {
		text-align: justify;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-o-hyphens: auto;
		hyphens: auto;
	}
	nav.posts li {
		padding: 0;
	}
	pre {
		line-height: 1;
	}
	pre code {
		@include font-size(1.4);
	}
}

@media screen and (max-height: 930px){
	nav.posts li a {
		padding: 0.9em 0.6em;
	}
}

@media screen and (max-height: 780px){
	nav.posts li a {
		padding: 0.8em 0.6em;
	}
}