/*-----------------------------------//
// typography stylesheet
//-----------------------------------*/

@include font-face(ClearSans, '/css/clearsans/clearsans-regular-webfont');
@include font-face(ClearSans, '/css/clearsans/clearsans-bold-webfont', 700);
@include font-face(ClearSans, '/css/clearsans/clearsans-italic-webfont', 400, italic);
@include font-face(ClearSans, '/css/clearsans/clearsans-bolditalic-webfont', 700, italic);

html {
	font-size: 62.5%;
}

body {
	font-family: $body-font;
	@include font-size(2);
	line-height: 1.7;
	color: $color;
}

body > #wrapper { @include font-size(2); } // fixing Chrome insanity: http://goo.gl/TFUoOH

h1, h2, h3 {
	font-family: $header-font;
	margin: 1em 0 0.7em 0;
	font-weight: 700;
}

h1 {
	color: darken($color, 3%);
	@include font-size(6);
	text-align: center;
	padding: 0.9em;
	border-top: 1px $border-color solid;
	border-bottom: 1px $border-color solid;
	margin-top: 40px;
	margin-top: 4rem;
	background-color: $active-bg;
}

h2 {
	@include font-size(4);
	text-align: center;
}
article h2 {
	text-align: left;
}

h3 {
	@include font-size(2.5);
	margin-bottom: 0.3em;
	+ p {
		margin-top:0;
	}
}

h4 {
	font-size: 1em;
	font-family: $body-font;
}

p, pre, .note, blockquote {
	margin: 1.2em 0;
}

a {
	text-decoration: none;
	color: darken($color, 10%);
	border-bottom: 1px $border-color solid;
	@include transition(0.2s linear);
	transition-property: border-color, background-color;
	&:hover {
		background-color: $alt-bg;
		border-bottom-color: transparent;
	}
}

header > a {
	text-decoration: none;
	color: $color;
}

.main-title, .subtitle {
	text-align: center;
	text-decoration: none;
}

.main-title {
	@include font-size(4.9);
	font-family: $header-font;
	font-weight: 700;
	a {
		border-bottom: 0;
		transition: none;
		&:hover {
			background: none;
			color: $color;
			border-bottom: 2px $border-color solid;
		}
	}
}

.subtitle {
	font-family: $body-font;
	@include font-size(2.1);
	line-height: 1;
}

nav.posts {
	text-align: center;
	font-family: $header-font;
	li {
	background: none;
		a {
			@include font-size(2);
			text-decoration: none;
			color: $color;
			&:hover {
				color: $color;
			}
		}
	}
	.current {
		background: $alt-bg; 
	}
}

code {
	font-family: $code-font;
	font-weight: 400;
	@include font-size(1.6);
}

::selection {
	background-color: $active-bg;
}

.important {
	background-color:#fff612;
}

.post-data {
	font-size: 0.8em;
	color: lighten($color, 20%);
	line-height: 1;
}

.date {
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

.tags {
	float: right;
	clear: none;
	margin-top: -0.1em;
}

.blog-tag {
	color: lighten($color, 10%);
	background: #E7E7E7;
	border: 1px $border-color solid;
	border-radius: 3px;
	padding: 0.1em 0.5em 0.2em 0.5em;
	float: right;
	margin-left: 0.7em;
	&:hover {
		background: darken(#E7E7E7, 10%);
		border-bottom: 1px $border-color solid;
	}
}

.thoughts {
	text-align: center;
	font-size: 0.9em;
	&:before {
		content: "----";
		letter-spacing: 0.1em;
		@include font-size(6.9);
		font-style: italic;
		line-height: 0.8;
	}
}

.section-header {
	text-align: center;
	line-height: 1;
	margin-top: 2em;
	margin-bottom: -0.5em;
}

.merriweather {
	font-family: $header-font;
	font-size: 0.95em;
}