---
---

@import "bourbon/bourbon";

.gsc-control-cse {
	transition: all 0.1s linear;
	line-height: normal;
	font-family: 'ClearSans', 'Open Sans', Helvetica, Arial, sans-serif;
	border-radius: 3px;
	* {
		box-sizing: content-box;
	}
	a {
		border-bottom-width: 0;
	}
}
	

.gsc-above-wrapper-area, .gcsc-branding {
	display: none;
}

.gsc-result, .gsc-control-cse {
	background-color: #EBEBEB !important;
	border-color: #BCBCBC !important;
}

.gsc-result {
	border-width: 0 !important;
	border-bottom-width: 1px !important;
}

.gsc-input-box-hover, .gsc-input-box-focus {
	@include box-shadow(none !important);
}