---
layout: default
title: The Blog of a Web Designer
description: Tips, tricks, and tutorials about web design, front-end development, Mac OS X, Alfred, and anything else that happens to strike my fancy. Basically, the cool stuff I learn.
---

<nav class="posts">
	<ol>
		{% for post in paginator.posts %}
		<li><a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ol>
</nav>

<div class="pagination-wrapper">
{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
	<span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
	{% if page == paginator.page %}
	  <span class="current">{{ page }}</span>
	{% elsif page == 1 %}
	  <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
	{% else %}
	  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
	{% endif %}
  {% endfor %}

  {% if paginator.next_page %}
	<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
	<span>Next &raquo;</span>
  {% endif %}
</nav>
{% endif %}
</div>